<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>elter-chat</title>
    <style>

        *{
            margin: 0px;
            padding: 0px;
        }

        .container{
            display:flex;
            width: 100vw;
            height: 100vh;
            background-color: rgb(36, 36, 36);
        }

        .lateral {
            width: 15%;
            height: 100%;
            min-height: 100%;
        }

        .main{
            display: flex;
            flex-direction: column;
            width: 85%;
            height: 100%;
        }

        .chat{
            display: flex;
            flex-direction: column;
            height: 90%;
            background-color: rgb(53, 53, 53);
        }

        .input{
            display: flex;
            width: 50%;
            height: 10%;
            background-color: rgb(104, 104, 104);
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        .txt > h1 {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 24px;
            padding: 10px;
            text-align: center;
        }

        .txt{
            border-bottom: 2px solid grey;
        }

        input{
            font-size: 22px;
            background-color: rgb(209, 209, 209);
            width: 80%;
            height: 50%;
            border-radius: 6px;
            border: 0px;
        }

        input::placeholder{
            padding-left: 15px;
            font-size: 22px;
        }

        button{
            margin-left: 2.5%;
            width: 15%;
            color: grey;
            height: 50%;
        }

        .msg_user, .msg_bot {
            display: flex;
            max-width: 50%;
            height: auto;
            border-radius: 6px;
            padding: 15px;
            margin-top: 15px;
        }

        .msg_user {
            align-self: flex-end;
            background-color: rgb(3, 143, 89);
            margin-right: 10px;
        }

        .msg_bot {
            align-self: flex-start;
            background-color: rgb(65, 115, 255);
            margin-left: 10px;
        }

        .msg_user > h1, .msg_bot > h1{
            font-family: Arial;
            font-size: 16px;
            color: white;
        }

        .new_chat {
            width: 100%;
            height: 10%;
            border-radius: 6px;
            align-self: center;
        }

        .new_chat:hover{
            background-color: aqua;
        }

        .new_chat > h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="lateral">
            <div class="txt">
                <h1 id="new_chat">new chat</h1>
            </div>
            
             <% if (chats && chats.length > 0) { %>
                  <% chats.map((a) => { %>
                    <div class="new_chat">
                        <h1><a href="/chat/<%= a %>"><%= a %></a></h1>
                    </div>
                  <% }); %>
              <% } else { %>
                <p>Nenhum chat encontrado.</p>
              <% } %>
        </div>

        <div class="main">
            <div class="chat">
                <h1>Crie um novo chat para poder conversar com o bot</h1>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const button = document.querySelector(".submit");
        const chat = document.querySelector("#new_chat");
        const socket = io();

        function new_chat(name, id) {
            const lateral = document.querySelector(".lateral");

            lateral.innerHTML += 
            `
                <div class="new_chat">
                    <h1><a href="/chat/${id}">${name}</a></h1>
                </div>
            `
        }     

        socket.on("new_chat", (data) => {
            new_chat("cleide", data);
        });

        chat.addEventListener("click", (event) => {
            socket.emit("create_new_chat");
        });
    </script>
</body>
</html>