<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <title>elter-chat</title>
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/other.css">
</head>
<body>
    <div class="container"> 
        <div class="lateral">
            <div class="txt">
                <h1 id="new_chat">Novo chat</h1>
            </div>    
             <% if (chats && chats.length > 0) { %>
                  <% chats.map((a) => { %>
                    <div class="new_chat">
                        <h1><a href="/chat/<%= a._id %>"><%= a.name %></a></h1>
                    </div>
                  <% }); %>
              <% } else { %>
                <p>Nenhum chat encontrado.</p>
              <% } %>
        </div>

        <div class="main">
            <div class="chat">
                <h1>Crie um novo chat para poder conversar com o bot</h1>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    
    <script src="/scripts/index.js"></script>
    <script src="/scripts/alert.js"></script>
    <script src="/scripts/room.js"></script>
</body>
</html>