
/*
    roxo claro #676F9D
    roxo meio escuro #424769
    roxo escureto #2d3250
    amarelo esbraquiado #fgb17a


*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow: hidden;
}

.container{
    display:flex;
    width: 100vw;
    height: 100vh;
    background-color: #2d3250;
}

.lateral {
    display: flex;
    flex-direction: column;
    min-width: 14%;
    max-width: 18%;
    height: 100%;
    min-height: 100%;
    background-color: #1E2236;
}

.main {
    display: flex;
   
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    background-color: #2d3250;
    
    overflow-x: hidden;
}

.txt > h1 {
    color: #BFB69B;       
    font-weight: 600;
    font-size: 26px;
    padding: 15px;
    
    margin-top: 10px;
    
    border-radius: 6px;
    transition: 1s; 
}

.txt {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;   
}

.txt:hover {
    cursor: pointer;
}

.txt:hover > h1 {
    background-color: #3D6973;
    transition: 1s;
}

input {
    font-size: 18px;
    background-color: #011f2600;
    width: 80%;
    height: 50%;
    border-radius: 6px;
    border: none;
    margin: 5px 5px 5px 30px;
   
     
}
input:focus{
    outline: none;
}

input:hover {
    outline: 1px solid #3d697300;
    animation: 2s;
}

input::placeholder {   
    font-size: 18px;
    
    font-weight: bolder;
    
}
.input > button{
    color: #676F9D;   
    border: none;
    
}


.msg_user, .msg_bot {
    display: flex;
    max-width: 100%;
    height: auto;
   
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.377);         
    align-items: start;
    flex-direction: column;
    padding: 25px;
 
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.msg_user > h1, .msg_bot > h1 {
    font-size: 15.5px;
    font-weight: 400;
    color: #F2E6D8;
}
.msg_user{
    border: 1px solid rgba(0, 0, 0, 0.384);     
}
.msg_bot {         
    background-color: #59618f;        
}
   
.new_chat {
    display: flex;
    
    justify-content: left;
    width: 100%;
    color: white;
    word-wrap: break-word;
}

.new_chat:hover > h1 {
    background-color: #bfb69b00;
    transition: 1s;
}

.new_chat > h1 {
    width: 60%;
    margin-top: 2px;
    text-align: left;
    
    padding: 5px;
    color: white;
   
    transition: 1s;
       
    font-size: 18px;
    
    
}
.new_chat > h1 > a {
    text-decoration: none;
    color: #F2E6D8;
    text-align: center;
    padding-left: 15px; 
    
}



.input {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 7%;
    width: 40%;
    background-color: #57619C;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
    
    
    
}
.input > input{
    width: 100%;
}
input {
    width: 50%;
     color: white;
    margin-right: 25px;
    font-weight: bold;
   
    
}

.submit {
    background-color: #2d4e5500;
    border: 1px solid rgba(255, 255, 255, 0.384);
    color: white;
    border-radius: 6px;
    width: 10%;
    height: 75%;
}

.bold {
    margin-right: 10px;
}

.options {
    border-top: 1px solid grey;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.options > h1 {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.edit_msg {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_msg > textarea {
    background-color: rgb(0,0,0, 0);
    color: white;
    font-family: 'tahoma';
    font-size: 24px;
    resize: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    resize: none;
    overflow-y: hidden;
    margin-bottom: 15px;
}


.edit_msg > button {
    height: 50px;
    
    
}

@media (max-width: 1500px) {
    .msg_bot, .msg_user {
        width: 90%;
    }
}

@media (max-width: 745px) {
    .msg_bot, .msg_user {
        width: 88%;
    }

    .submit {
        width: 25%;
    }

    .temp_input::placeholder {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .msg_bot, .msg_user {
        width: 75%;
    }

    .lateral {
        width: 12%;
    }

    .txt > h1 {
        font-size: 16px;
    }

    .new_chat > h1 {
        font-size: 16px;
    }

    .input {
        flex-direction: start;
    }

    input::placeholder{
        font-size: 14px;
    }

    .temp_input::placeholder {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
}
